.button-container {
    align-items: center;
    display: flex;
    justify-content: center;

}
.button-style {
    background-color: rgb(234, 0, 41);
    color: #fff;
}
.button-style:hover {
    background-color: rgb(234, 0, 41);
    color: #fff;
}
.button-style:focus {
    background-color: rgb(234, 0, 41);
    color: #fff;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background-color: white;
    border: 3px solid rgb(234, 0, 41);
    margin: 20px 20px;
    color: rgb(234, 0, 41);
    cursor: pointer;
    border-radius: 10px;    
    font-size: 30px;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(13, 8%);
    place-items: center;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.choose {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-items: center;
}
.choose-top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgb(234, 0, 41);
    color: #fff;
    margin-right: 20px;
    border-radius: 40px;
}
.choose-title{
    display: none;
}
.start {
    display: none;
}
.numbers{
    color: blue;
}
.random-number {
    color: rgb(27, 219, 27);
}
.replay {
    display: none;
}